<!doctype html>

<html>
  <head>
    <title>CHRISTIAN CATALDO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
    <title>CHRISTIAN CATALDO</title>
  <body>
    <div class="container">
      <h1>CHRISTIAN CATALDO</h1>
      <br/>
      <h3>IT College Tallinn<br/>I719 Fundamentals of Python<br/>March 2017</h3>
      <br>
      <br/>
        <ul>
          <li><a href="http://localhost:5000/login">Login</a></li>
      <br/>
      <br/>
        <li><a href="http://localhost:5000/shop">Shop</a></li>  
    </div>
  </body>
</html>