<!doctype html>

<html>
  <head>
    <title>CHRISTIAN CATALDO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">

<h1>Current Weather</h1>
<br/>

 City: {{city}}
 <br/>
 Temperature: {{(temp/25)}}°C
 <br/>
 Description: {{description}}
<br />
<br />
Data taken from: <a href="http://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=b1b15e88fa797225412429c1c50c122a1" target="_blank">London sample weather</a>



<br />
<br />
<a href="http://localhost:5000/">Main page</a>
</div>